@import './framework/color-variables';
@import './framework/color-classes';
@import './framework/vars';
@import './parts/vars';

#news, #news-page{

    & .main-image{
        padding-bottom: 70%;
        width: 100%;
        background-size: cover;
    }

    & .news-content{
        display: flex;
        flex-direction: column;

        & .news-title{
            font-weight: 500;
            font-size: 32px;
        }

        & .separator, & .news-body{
            flex-grow: 1;
        }
    }

    & .date{
        text-align: right;
    }

    & .news{

        &.now{

            & .news-image{

                position: relative;
                padding-bottom: calc(70% + 6px);
                margin-bottom: 20px;
                display: block;

                & .news-title{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    padding: 12px;
                    box-sizing: border-box;
                    background: rgba(black, .7);
                    color: #fff;
                    font-weight: 500;
                    font-size: 21px;
                    margin: 0;

                    @media(max-width: $medium){
                        display: none !important;
                    }
                }
            }
        }

        &.latest{

            display: flex;
            flex-wrap: wrap;
            align-items: center;

            & .news-title{
                font-weight: 500;
                font-size: 21px;
                margin-bottom: 20px;
            }
        }

        &.recent{

            margin-bottom: 60px;

            & .news-title{
                font-weight: 500;
                font-size: 21px;
            }
        }

        &:hover{

            & .news-image:before{

                box-shadow: 0 0 0 8px $secondary inset;

            }

            & .news-title{
                text-decoration: underline;
                text-decoration-thickness: 1px;
                text-underline-offset: 4px;
            }
        }

        & .news-title{
            margin: 20px 0;
            display: inline-block;
            transition: color .2s;
        }

        & .header-mobile{
            @extend .news-title;
            color: $secondary;
            font-size: 28px;
            font-weight: 500;

            @media(min-width: $medium){
                display: none;
            }
        }

        & .news-image{
    
            display: block;
            width: 100%;
            position: relative;
            padding-bottom: 70%;
            background-size: cover;

            &:before{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 5;
                transition: box-shadow .2s;
            }
    
            & .news-date{
                position: absolute;
                display: block;
                top: 0;
                right: 0;
                z-index: 2;
                line-height: 40px;
                padding: 0 10px;
                padding-left: 30px;
                font-size: 12px;
                color: #fff;
                background: linear-gradient(16deg, transparent 50%, rgba(black, .7));
            }
        }
    }
}